/*  your css code here. If applicable */
.container{
	display:grid;	
	grid-template-columns:1fr 1fr 1fr 1fr;
	justify-content:center;
	
}


.n{
	background-color:pink;
	justify-content:center;
}
ol{
	list-style-type:none;
	
}
h6{
	justify-content:center;
}
