/*  your css code here. If applicable */
.container{
	display:grid;	
	grid-template-columns:1fr 1fr 1fr 1fr;
/* 	justify-content:center; */
/* 	align-items:center; */
	
/* 	border:2px solid green; */
	
	grid-gap:10px 20px;
}


.n{
	display:flex;
	display:inline-block;
/* 	background-color:pink; */
/* 	justify-content:center; */
	text-align:center; 
	border:1px solid black;
}
ol{
	
	list-style-type:none;
 	justify-content:center;
	
}

h6{
/* 	text-align:center;  */
/* 	border:1px solid black; */
	display:inline-block;
	
}
li{
	text-align:center;
	font-size:14px
	
/* 	border:1px solid */
	
}
@media screen and (max-width: 600px){
	.container{
		grid-template-columns:1fr;
		
	}
}
